.contact_form_cont {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    width: 300px;
    align-items: center;
    background-color: rgb(196, 210, 212);
    }

.contact_form_inp {
   
    width: 200px;
   height: 25px;
   border: none;
}

.contact_form_btn {
    width: 120px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5%;
    margin-top: 20px;
    background-color: rgb(10, 62, 204);
    color: white;
    border: none;
}